* {
  box-sizing: border-box;
}

body {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav {
  padding: 12px 10% 8px 10%;
  background-color: #ffffff;
  text-align: left;
}

nav .logo {
  display: inline-block;
  width: 150px;
}

nav .logo img {
  width: 100%;
}

nav ul {
  display: inline-block;
  list-style: none;
  position: absolute;
  right: 10%;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'proxima-nova', sans-serif;
}

header {
  padding: 15px;
  width: 100%;
}

section {
  min-height: 50px;
  padding: 15px 15px;
}


footer {
  padding: 1% 0;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

.login-container {
  width: 60%;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
}

.login {
  width: 500px;
  min-height: 300px;
  margin: 0px auto 20px auto;
  padding: 10px;
  background-color: #dddddd;
  border-radius: 10px;
}

.login-logo {
  width: 40%;
  margin: 0 auto;
}

.login-logo img {
  width: 100%;
}

.error {
  min-height: 20px;
  font-size: 12px;
  color: red;
}

.no-games {
  font-size: 24px;
  font-weight: bold;
  margin-top: 200px;
  min-height: 60vh;
}

.game-list {
  width: 90%;
  min-height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  padding: 0;
}

.game-card {
  display: inline-block;
  width: 45%;
  height: 300px;
  overflow: hidden;
  margin: 2%;
  border: 1px solid #bbb;
  border-radius: 10px;
}

.game-card-title {
  width: 100%;
  background-color: #bbb;
  padding: 10px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.game-card-title h4 {
  margin: 0px;
}

.game-card-info p {
  margin: 5px 0 0 0;
}

.game-card-info {
  padding: 10px;
}

.game-card-lg {
  display: block;
  width: 50%;
  min-height: 300px;
  margin: 20px auto;
  border: 1px solid #bbb;
  border-radius: 10px;
}

.detail-label {
  font-weight: bold;
}
.new-game-form {
  text-align: center;
}
.new-game-form label, .new-game-form input, .new-game-form button {
  display: block;
  margin: 5px auto;
  width: 30%;
}



@media only screen and (max-width: 320px) {
  .login {
    width: 90%;
  }

  nav {
    padding: 1% 0;
    height: 50px;
  }

  .nav-logo {
    width: 30%;
    margin-top: 10px;
  }
  
  .nav-logo {
    width: 30%;
  }

  .game-list {
    width: 95%;
  }

  .game-card {
    display: inline-block;
    width: 100%;
    height: 300px;
  }

  .game-card-lg {
    width: 100%;
  }

  .new-game-form label, .new-game-form input, .new-game-form button {
    width: 70%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 550px) {
  .login {
    width: 90%;
  }

  nav {
    padding: 1% 0;
    height: 50px;
  }

  .nav-logo {
    width: 30%;
    margin-top: 10px;
  }

  .game-list {
    width: 95%;
  }

  .game-card {
    display: inline-block;
    width: 100%;
    min-height: 300px;
  }

  .game-card-lg {
    width: 100%;
  }

  .new-game-form label, .new-game-form input, .new-game-form button {
    width: 70%;
  }
}

@media only screen and (min-width: 551px) and (max-width: 900px) {


  nav {
    padding: 1% 0;
    height: 50px;
  }

  .nav-logo {
    width: 20%;
    margin-top: 0px;
  }

  .game-list {
    width: 95%;
  }

  .game-card {
    display: inline-block;
    width: 100%;
    min-height: 300px;
  }

  .game-card-lg {
    width: 85%;
  }

  .new-game-form label, .new-game-form input, .new-game-form button {
    width: 50%;
  }
}