* {
  box-sizing: border-box;
}

body {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #22252C;
  text-align: center;
  line-height: 1.5;
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  color: #22252C;
  text-decoration: none;
  transition: color .15s
      ease-in-out;
}

a:hover {
  color: #ffffff;
}

nav {
  padding: 12px 10% 8px 10%;
  text-align: left;
}

nav .logo {
  display: inline-block;
  width: 170px;
}

nav .logo img {
  width: 100%;
}

nav ul {
  display: inline-block;
  list-style: none;
  position: absolute;
  right: 10%;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'proxima-nova', sans-serif;
}

header {
  padding: 15px;
  width: 100%;
}

section {
  min-height: 50px;
  padding: 15px 15px;
}


footer {
  padding: 1% 0;
}

.footer p {
  font-size: 13px;
  margin: 2px auto;
  color: #22252C;
}

.fab {
  font-size: 15px;
  margin: 2px auto;
  color: #22252C;
  padding: 0px 2px;
}

.login-container {
  width: 60%;
  margin: 50px auto;
  border-radius: 10px;
  padding: 20px;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
}

.login {
  margin: 0px auto 20px auto;
}

.login-logo {
  width: 40%;
  margin: 0 auto;
}

.login-logo img {
  width: 100%;
}

.login h3 {
  margin: 10px auto;
}

.login a {
  text-decoration: underline;
  font-weight: bold;
}

.signup-form input {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 300px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  transition-duration: 0.25s;
  font-weight: 300;
}

.signup-form input:hover {
  background-color: #ffffff;
}

.signup-form input:focus {
  background-color: #ffffff;
  color: #000000;
}

.signup-form button {
  background-color: #ffffff;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 300px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25;
  margin-bottom: 10px;
}

.signup-form button:hover {
  background-color: rgb(217, 224, 230);
}

.signup-form button:disabled {
  background-color: #cbcbcb;
  cursor: not-allowed;
}

.error {
  max-width: 400px;
  margin: 10px auto;
  padding: 10px;
  font-size: 14px;
  background-color: lightpink;
  border-radius: 3px;
  color: darkred;
}

.demo p {
  font-size: 18px;
  color: #ffffff;
  margin: 0 auto;
  font-weight: 400;
}

.no-games {
  font-size: 30px;
  font-weight: bold;
  margin-top: 200px;
  min-height: 60vh;
}

.no-game-btn {
  display: block;
  margin: 10px auto 0 auto;
}

.game-list {
  width: 90%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  padding: 0;
}

.game-card {
  display: inline-block;
  width: 45%;
  height: 350px;
  margin: 2%;
  color: #444444;
  background-color: #ededed;
  border-radius: 8px;
}

.game-card-title {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom: 1px solid #d3d3d3;
}

.game-card-title h4 {
  margin: 0px;
}

.game-card-info p {
  margin: 5px auto 0 auto;
}

.game-card-info {
  padding: 10px;
}

.game-card button {
  background-color: #d3d3d3;
  padding: 10px 15px;
  color: #444444;
  border-radius: 5px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25;
  margin-top: 10px;
}

.game-card button:hover {
  background-color: #b8b8b8;
}

.game-card-lg {
  display: block;
  width: 50%;
  color: #444444;
  background-color: #ededed;
  min-height: 300px;
  margin: 20px auto;
  border-radius: 8px;
}

.detail-label {
  font-weight: bold;
}
.new-game-form {
  text-align: center;
}

.new-game-form input, .new-game-form textarea {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid #d3d3d3;
  background-color: #ffffff;
  width: 400px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  transition-duration: 0.25s;
  font-weight: 300;
}

.new-game-form input:hover {
  background-color: #ffffff;
}

.new-game-form input:focus {
  background-color: #ffffff;
  color: #000000;
}

.game-card-info button {
  background-color: #d3d3d3;
  padding: 10px 15px;
  color: #444444 !important;
  border-radius: 5px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25;
  margin-top: 10px;
}

.game-card-info button:hover {
  background-color: #b8b8b8;
}

.game-card-info button:disabled {
  background-color: #9d9d9d;
  cursor: not-allowed;
}


@media only screen and (max-width: 320px) {
  .login-container {
    width: 95%;
    margin: 10px auto;
  }
  
  .login-logo {
    width: 70%;
  }

  header h2 {
    font-size: 20px;
    margin: 5px auto;
  }
  
  .login h3 {
    font-size: 18px;
  }

  .login p {
    font-size: 15px;
  }
  
  .signup-form input {
    width: 100%;
  }
  
  .signup-form input:hover {
    background-color: #ffffff;
  }
  
  .signup-form input:focus {
    width: 100%;
  }
  
  .signup-form button {
    width: 100%;
  }
  .error {
    max-width: 100%;
  }
  
  .demo p {
    font-size: 16px;
  }

  nav {
    padding: 10px 5% 8px 5%;
  }
  
  nav .logo {
    width: 100px;
  }
  
  nav ul {
    right: 5%;
    margin-top: -7px;
  }
  
  nav li {
    margin-left: 10px;
    font-size: 11px;
  }

  .game-list {
    width: 95%;
  }

  .no-games {
    font-size: 20px;
    margin-top: 80px;
  }

  .game-card {
    width: 100%;
    min-height: 250px;
    margin: 5px auto;
  }
  
  .game-card-title {
    width: 80%;
  }
  
  .game-card-title h4 {
    font-size: 16px;
  }
  
  .game-card-info p {
    font-size: 15px;
  }
  
  .game-card-info {
    padding: 12px;
  }
  
  .game-card button {
    width: 80%;
  }
  
  .game-card-lg {
    width: 100%;
    margin: 5px auto;
  }

  .error {
    max-width: 80%;
    font-size: 12px;
  }

  .detail-label {
    font-weight: bold;
  }
  .new-game-form {
    text-align: center;
  }
  
  .new-game-form input, .new-game-form textarea, .new-game-form label {
    width: 80%;
    font-size: 15px;
  }
  
  .new-game-form input:focus {
    width: 80%;
  }
  
  .game-card-info button, .game-card-info button a {
    width: 80%;
    font-size: 15px;
  }

  footer {
    font-size: 12px;
  }

}

@media only screen and (min-width: 321px) and (max-width: 550px) {
  .login-container {
    width: 95%;
    margin: 10px auto;
  }
  
  .login-logo {
    width: 70%;
  }

  header h2 {
    font-size: 22px;
    margin: 5px auto;
  }
  
  .login h3 {
    font-size: 18px;
  }

  .login p {
    font-size: 18px;
  }
  
  .signup-form input {
    width: 100%;
  }
  
  .signup-form input:hover {
    background-color: #ffffff;
  }
  
  .signup-form input:focus {
    width: 100%;
  }
  
  .signup-form button {
    width: 100%;
  }

  .error {
    max-width: 100%;
  }
  
  .demo p {
    font-size: 18px;
  }

  nav {
    padding: 10px 5% 8px 5%;
  }
  
  nav .logo {
    width: 110px;
  }
  
  nav ul {
    right: 5%;
    margin-top: -5px;
  }
  
  nav li {
    margin-left: 10px;
    font-size: 13px;
  }

  .no-games {
    font-size: 25px;
    margin-top: 100px;
  }
  
  .game-list {
    width: 95%;
  }
  
  .game-card {
    width: 100%;
    min-height: 250px;
    margin: 5px auto;
  }
  
  .game-card-title {
    width: 80%;
  }
  
  .game-card-title h4 {
    font-size: 18px;
  }
  
  .game-card-info p {
    font-size: 17px;
  }
  
  .game-card-info {
    padding: 12px;
  }
  
  .game-card button {
    width: 80%;
  }
  
  .game-card-lg {
    width: 100%;
    margin: 5px auto;
  }
  
  .new-game-form input, .new-game-form textarea, .new-game-form label {
    width: 80%;
    font-size: 15px;
  }
  
  .new-game-form input:focus {
    width: 80%;
  }
  
  .game-card-info button, .game-card-info button a {
    width: 80%;
    font-size: 15px;
  }

  footer {
    font-size: 18px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 900px) {
  .login-container {
    width: 65%;
    margin: 10px auto;
  }
  
  .login-logo {
    width: 70%;
  }

  header h2 {
    font-size: 22px;
    margin: 5px auto;
  }
  
  .login h3 {
    font-size: 18px;
  }

  .login p {
    font-size: 18px;
  }
  
  .signup-form input {
    width: 100%;
  }
  
  .signup-form input:hover {
    background-color: #ffffff;
  }
  
  .signup-form input:focus {
    width: 100%;
  }
  
  .signup-form button {
    width: 100%;
  }

  .error {
    max-width: 80%;
  }
  
  .demo p {
    font-size: 18px;
  }

  nav {
    padding: 10px 5% 8px 5%;
  }
  
  nav ul {
    right: 5%;
    margin-top: 5px;
  }
  
  nav li {
    margin-left: 10px;
  }

  .game-list {
    width: 95%;
  }

  .game-card {
    display: inline-block;
    width: 100%;
    min-height: 300px;
  }

  .game-card-lg {
    width: 85%;
  }

  .new-game-form input, .new-game-form textarea, .new-game-form label {
    width: 80%;
    font-size: 15px;
  }
  
  .new-game-form input:focus {
    width: 80%;
  }
  
  .game-card-info button, .game-card-info button a {
    width: 80%;
    font-size: 15px;
  }
}